.app {
    background: #f1f1f1;
    font-style: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        'cabecalho'
        'conteudo'
        'rodape';
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    grid-area: cabecalho;
    align-items: center;
    display: flex;
    padding: 0 2rem;
}

.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    background-color: #fdfdfd;
    grid-area: rodape;
    font-size: .8rem;
    padding: 1rem;
    text-align: center; 
}